.grid {
    display: grid;
    grid-template-columns: 1fr; /* Stack elements in a single column */
}

.grid-cols-1 {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); /* Responsive column layout */
}

.w-full {
    width: 100%;
}

@media screen and (min-width: 640px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); /* Display two columns on larger screens */
    }
}